.card-label__container {
	position:absolute;
	bottom: 90px;
	right: 0;
}

.card-label__content {
	background: #0d0d0d;
	padding:5px;
	font-size: 12px;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	height: 40px;
	padding: 0 50px;
}
