<div class="home__container">
	<app-card
		gameCover="assets/ps5-games-gt7-hub-image-block-01-en-10mar22.webp"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 120,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ps5-games-spiderman-miles-morales-image-block-en-26aug22.webp"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 220,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ps4-games-TLOU-Part-II-image-block-01-en-08nov22.webp"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 220,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ps5-games-uncharted-hub-image-block-01-en-17sep21.webp"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 220,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ps5-games-ghost-of-tsushima-image-block-02-en-14oct21.webp"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 220,99"
	>
	</app-card>
</div>
